<h1 class="ViewHeader">Choose your environment</h1>


<table id="environmentTable">
    
    <tr>
        <td>
            <a asp-controller="Environment" asp-action="Zoomed">
                <img src="~/img/environments/desert.jpg" alt="Desert">
            </a>
        </td>
        <td>
            <a asp-controller="Environment" asp-action="Zoomed">
                <img src="~/img/environments/forest.jpg" alt="Forest">
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a asp-controller="Environment" asp-action="Zoomed">
                <img src="~/img/environments/ruins.jpg" alt="Ruins">
            </a>
        </td>
        <td>
            <a asp-controller="Environment" asp-action="Zoomed">
                <img  src="~/img/environments/village.jpg" alt="Village">
            </a>
        </td>
    </tr>
</table>

<a asp-controller="Home" asp-action="Index">
    <input class="buttons" type=button Text="Button"  value="Home" style="font-size: 24px;"/>
</a>