<h1>ENVIRONMENT</h1>

<a asp-controller="Environment" asp-action="Zoomed">
    <div class="Grid"> Insert Picture Here </div>
</a><br />
<a asp-controller="Environment" asp-action="Zoomed">
    <div class="Grid"> Insert Picture Here </div>
</a><br />
<a asp-controller="Environment" asp-action="Zoomed">
    <div class="Grid"> Insert Picture Here </div>
</a><br />
<a asp-controller="Environment" asp-action="Zoomed">
    <div class="Grid"> Insert Picture Here </div>
</a><br />

<a asp-controller="Home" asp-action="Index">
    <div class="Grid"> Go back to Home </div>
</a>