<h1 class="ViewHeader">Choose your environment</h1>


<table id="environmentTable">

    <tr>
        <td>
            <div class="enlargeImg">
                <img src="~/img/environments/desert.jpg" alt="Desert">
            </div>
        </td>
        <td>
            <div class="enlargeImg">
                <img src="~/img/environments/forest.jpg" alt="Forest">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="enlargeImg">
                <img src="~/img/environments/ruins.jpg" alt="Ruins">
            </div>
        </td>
        <td>
            <div class="enlargeImg">
                <img src="~/img/environments/village.jpg" alt="Village">
            </div>
        </td>
    </tr>
</table>

<div class="modal">
    <div class="imgContainer"></div>
</div>

<a asp-controller="Home" asp-action="Index">
    <input class="buttons" type=button Text="Button" value="Home" style="font-size: 24px;" />
</a>

@section Scripts
{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="~/scripts/EnlargeImage.js"></script>
}