USE [master]
GO
/****** Object:  Database [RPGDB]    Script Date: 2019-05-06 11:42:41 ******/
CREATE DATABASE [RPGDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RPGDB', FILENAME = N'C:\Users\Elias\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\mssqllocaldbRPGDB_Primary.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RPGDB_log', FILENAME = N'C:\Users\Elias\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\mssqllocaldbRPGDB_Primary.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RPGDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RPGDB]
GO
USE [RPGDB]
GO
/****** Object:  Table [dbo].[Monsters]    Script Date: 2019-05-06 11:42:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Monsters](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](64) NOT NULL,
	[EnvTags] [nvarchar](64) NOT NULL,
	[Description] [nvarchar](128) NOT NULL,
	[Speed] [int] NOT NULL,
	[HP] [int] NOT NULL,
	[Reduction] [int] NOT NULL,
	[Damage] [nvarchar](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Potatoes]    Script Date: 2019-05-06 11:42:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Potatoes](
	[ID] [int] NOT NULL,
	[name] [varchar](32) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Monsters] ON 

INSERT [dbo].[Monsters] ([Id], [Name], [EnvTags], [Description], [Speed], [HP], [Reduction], [Damage]) VALUES (1, N'Desert Cobra', N'Desert, Forest', N'Special: Whenever a player is hit by this creature, roll 1d6. On a result of 1, you become paralyzed for 1 hour by its poison.', 12, 12, 2, N'2d6')
SET IDENTITY_INSERT [dbo].[Monsters] OFF
USE [master]
GO
