
<div id="environmentHeader">
    <img style="width: 24%; height:5%;" src="~/img/environments/desert.jpg" alt="Desert">
    <img style="width: 24%; height:5%;" src="~/img/environments/forest.jpg" alt="Forest">
    <img style="width: 24%; height:5%;" src="~/img/environments/ruins.jpg" alt="Ruins">
    <img style="width: 24%; height:5%;" src="~/img/environments/village.jpg" alt="Village">
</div>

<div id="creatureTable">
    <div class="row">
        <div class="column">
            <img src="~/img/monsters/beetle.jpg" alt="beetle">
        </div>
        <div class="column">
            <img src="~/img/monsters/cougar.png" alt="cougar">
        </div>
    </div>
    <div class="row">
        <div class="column">
            <img src="~/img/monsters/ghost.png" alt="ghost">
        </div>
        <div class="column">
            <img src="~/img/monsters/giant-lizard.png" alt="giant-lizard">
        </div>
    </div>
    </div>


<footer class="footer">
    <a asp-controller="Game" asp-action="Main">
        <input class="buttons" type=button Text="Button" value="Back" style="font-size: 24px;" />
    </a>
</footer>

<div class="modal" data-route="Creatures">
    <div class="modalContainer"></div>
</div>

@section scripts
{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="~/scripts/DetailsModal.js"></script>
}