@model string
<div id="environmentHeader">
    <img style="width: 24%; height:5%;" src="~/img/environments/desert.jpg" alt="Desert">
    <img style="width: 24%; height:5%;" src="~/img/environments/forest.jpg" alt="Forest">
    <img style="width: 24%; height:5%;" src="~/img/environments/ruins.jpg" alt="Ruins">
    <img style="width: 24%; height:5%;" src="~/img/environments/village.jpg" alt="Village">
</div>

<h1>@Model</h1>
<div id="creatureTable">
    <div class="row">
        <div class="column">
            <img src="~/img/monsters/beetle.jpg" alt="beetle" class="getDetails">
        </div>
        <div class="column">
            <img src="~/img/monsters/cougar.png" alt="cougar" class="getDetails">
        </div>
    </div>
    <div class="row">
        <div class="column">
            <img src="~/img/monsters/ghost.png" alt="ghost" class="getDetails">
        </div>
        <div class="column">
            <img src="~/img/monsters/giant-lizard.png" alt="giant-lizard" class="getDetails">
        </div>
    </div>
</div>


<footer class="footer">

    <input class="buttons backBtn" type=button Text="Button" value="Back" style="font-size: 24px;" />

</footer>



