@model MicroRPG.Models.Obstacle[]

<h2 class="ViewHeader">Obstacles</h2>

<div class="Outer">
    <div class="InnerLeft">
        <h3>Name</h3>
        <div style="height: 800px; overflow: auto;">
            <ul>
                @foreach (var item in Model)
                {
                    <li>@item.Name</li>
                }
            </ul>
        </div>
    </div>

    <div class="InnerRight">
        <h3>Description</h3>
        <ul>
            @foreach (var item in Model)
            {
                <li>@item.Description</li>
            }
        </ul>
    </div>
</div>

<footer class="footer">
    <input class="buttons backBtn" type=button Text="Button" value="Back" style="font-size: 24px;" />
</footer>

<div class="modal" data-route="Obstacles">
    <div class="modalContainer"></div>
</div>

