
@{
    ViewData["Title"] = "Main";
}

    <div id="gameMain">
        <h1>Player Details</h1><br /><br />

        <div>
            <h1>Player 1</h1>
            <h1>Player 2</h1><br />
        </div>
        <div>
            <h1>Player 3</h1>
            <h1>Player 4</h1><br />
        </div><br /><br /><br />

        <h1>Beautiful Background picture here :)</h1><br /><br /><br />

        <div>
            <h1>Footer menu</h1><br />
            <a asp-controller="Home" asp-action="Index">
                <div> Back to Home </div>
            </a>
            <input type="button" id="gameCreaturesBtn" value="Creatures">

            <input type="button" id="gameObstaclesBtn" value="Obstacles">
            <input type="button" id="gamePuzzlesBtn" value="Puzzles">
        </div>
    </div>

<div id="gamePartialContainer"></div>

<div class="modal" data-route="Creatures">
    <div class="modalContainer"></div>
</div>



@section scripts
{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="~/scripts/DetailsModal.js"></script>
    <script src="~/scripts/GameMain.js"></script>
}