@model GameMainVM
@{
    ViewData["Title"] = "Main";
}

<div id="gameMain">
    <div class="playerContainer">
        <div class="playersLeft">
            <div class="playerDetails">
                <h1>PlayerStats1</h1>
            </div>
            <div class="playerDetails">
                <h1>PlayerStats1</h1>
            </div>
            @for (int i = 0; i < Model.PlayerNames.Length; i += 2)
            {
            <div class="playerDetails"><h1 class="getDetails" data-route="/PlayerDetails/@Model.PlayerIDs[i]">@Model.PlayerNames[i]</h1></div>
            }

        </div>
        <div class="playersRight">
            <div class="playerDetails">
                <h1>PlayerStats2</h1>
            </div><div class="playerDetails">
                <h1>PlayerStats2</h1>
            </div>
            @for (int i = 1; i < Model.PlayerNames.Length; i += 2)
            {
            <div class="playerDetails"><h1 class="getDetails" data-route="/PlayerDetails/@Model.PlayerIDs[i]">@Model.PlayerNames[i]</h1></div>
            }
        </div>


    </div>
    <div id="mainFooter">
        <div class="mainFooterBtn">
            <a asp-controller="Home" asp-action="Index"><input type="button" value="Back to Home" /></a>
        </div>
        <div class="mainFooterBtn">
            <input type="button" id="gameCreaturesBtn" value="Creatures">
        </div>
        <div class="mainFooterBtn">
            <input type="button" id="gameObstaclesBtn" value="Obstacles">
        </div>
        <div class="mainFooterBtn">
            <input type="button" id="gamePuzzlesBtn" value="Puzzles">
        </div>
    </div>
</div>

<div id="gamePartialContainer"></div>

<div class="modal">
    <div class="modalContainer"></div>
</div>

@section scripts
{
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script src="~/scripts/DetailsModal.js"></script>
<script src="~/scripts/GameMain.js"></script>
}