
@{
    ViewData["Title"] = "Main";
}

<h1>Player Details</h1><br /><br />

<div>
    <h1>Player 1</h1>
    <h1>Player 2</h1><br />
</div>
<div>
    <h1>Player 3</h1>
    <h1>Player 4</h1><br />
</div><br /><br /><br />

<h1>Beautiful Background picture here :)</h1><br /><br /><br />

<div>
    <h1>Footer menu</h1><br />
    <a asp-controller="Home" asp-action="Index">
        <div> Back to Home </div>
    </a>
    <a asp-controller="Game" asp-action="_Creatures">
        <div> Creatures </div>
    </a>
    <a asp-controller="Game" asp-action="_Obstacles">
        <div> Obstacles </div>
    </a>
    <a asp-controller="Game" asp-action="_Puzzles">
        <div> Puzzles </div>
    </a>
</div>