<div class="backgroundParchment">
    <div class="overlay"></div>
</div>

<div class="homeContainer">
    <h1 id="homeIndexHeader">MicroRPG</h1>
    <div id="homeTable">
        <div class="row">
            <div class="column">
                <div>
                    <a asp-controller="Environment" asp-action="Choose">
                        <img src="~/img/home/Your Environment.jpg" alt="Alternate Text" />
                        <label>Environment</label>
                    </a>
                </div>
            </div>
            <div class="column">
                <a asp-controller="Party" asp-action="Summary">
                    <img src="~/img/home/Your Party 2.png" alt="Alternate Text" />
                    <label>Party</label>
                </a>
            </div>
        </div>
    </div>

    <div class="homeFooter">
        <div id="homeStartBtn">
            <a asp-controller="Game" asp-action="Main"><input type="button" value="Start" /></a>
        </div>
        <br />
        <br/>
        @*<div class="homeSession">
            <label >ID:</label>
            <input type="text" name="sessionId" value="" />
            <a asp-controller="Game" asp-action="_PlayerDetails"><input type="button" value="Join" /></a>
        </div>*@
    </div>
</div>