


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]  MicroRPG</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <style></style>
    <link rel="stylesheet" href="~/css/skeleton.css" />
    <link rel="stylesheet" href="~/css/normalize.css"/>

</head>
<body>    
    <div>
        @RenderBody()
    </div>
    @RenderSection("Scripts", false)

</body>
</html>
