body {
}

.ViewHeader {
    text-align: center;
    font-size: 50px;
}

#environmentTable img {
    width: 100%;
}

#environmentTable a {
}

#environmentTable {
    width: 95%;
    margin: 2%;
}

.buttons {
    margin: 0, 0, 20px, 20px;
}

.footer {
    margin: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
}

#partyList li {
    font-size: 45px;
    margin: 20px;
    margin-left: 10%;
}