@model string
@using static MicroRPG.Models.Constants
@{
    ViewData["Title"] = "Backstory";
}
<div class="ViewHeader" id="backstoryHeader">
    <h1>Backstory</h1>
</div>
<div class="backstoryContainer">
    <div class="caseDescription">
        <p id="descriptionContainer"></p>
    </div>
    <p id="currentPlayerDisplay"></p>

    <ul id="outcomeList"><li class="option"></li></ul>
    
</div>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script>
    var ids = JSON.parse("@Model");
    var caseNumber = 0;
    var currentPlayerIndex = 0;
    var currentCaseID = 0;

    getNextCase();

    function shuffleArray(a) {
        var i, j, temp;
        for (i = a.length - 1; i > 0; i--) {
            j = Math.floor(Math.random() * (i + 1));
            temp = a[i];
            a[i] = a[j];
            a[j] = temp;
        }
        return a;
    }

    function displayCase(resCase) {
        $("#descriptionContainer").html(resCase.description);
        var htmlList = "";
        
        for (var i = 0; i < resCase.outcomes.length; i++) {
                htmlList += "<li class='option' index="+i+">" + resCase.outcomes[i] + "</li>"
            }
        $("#outcomeList").html(htmlList);
        $("#currentPlayerDisplay").html(resCase.currentPlayerName);

        if (++currentPlayerIndex >= ids.length) {
            caseNumber++;
            currentPlayerIndex = 0;
            shuffleArray(ids);
        }
    }

    function getNextCase() {
        $("#outcomeList").css("pointer-events", "none");
        $.ajax({
            url: "/backstory/getcase",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({ caseNumber: caseNumber, id: ids[currentPlayerIndex] }),
            success: function (result) {
                $("#outcomeList").css("pointer-events", "auto");
                currentCaseID = result.id;
                displayCase(result);
            },
            error: function () {
                $("#outcomeList").css("pointer-events", "auto");
            }
        });
    }

    function applyStats(index) {
        $.ajax({
            url: "/backstory/selectoutcome",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({ caseID: currentCaseID, outcomeIndex: index, playerID: ids[currentPlayerIndex] }),
            error: function () {
                alert("Error applying stats or connecting to server");
            }
        });
    }

    function getCommonGoal() {

    }

    $("#outcomeList").click(function (event) {
        if ($(event.target).is(".option")) {
            applyStats($(event.target).attr("index"));
            if (caseNumber <= @numberOfCases) {
                getNextCase();
            } else {
                $("#outcomeList").html("");
                $("#currentPlayerDisplay").html("");
                getCommonGoal();
            }
        }
    });

</script>
