@model string
@using static MicroRPG.Models.Constants
@{
    ViewData["Title"] = "Backstory";
}

<h1>Backstory</h1>

<p id="descriptionContainer"></p>

<p id="currentPlayerDisplay"></p>

<ul id="outcomeList"><li class="option"></li></ul>


<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script>
    var ids = JSON.parse("@Model");
    var caseNumber = 0;
    var currentPlayerIndex = 0;

    getNextCase();

    function shuffleArray(a) {
        var i, j, temp;
        for (i = a.length - 1; i > 0; i--) {
            j = Math.floor(Math.random() * (i + 1));
            temp = a[i];
            a[i] = a[j];
            a[j] = temp;
        }
        return a;
    }

    function displayCase(resCase) {
        $("#descriptionContainer").html(resCase.description);
        var htmlList = "";
        for (var i = 0; i < resCase.outcomes.length; i++) {
                htmlList += "<li class='option'>" + resCase.outcomes[i] + "</li>"
            }
        $("#outcomeList").html(htmlList);
        $("#currentPlayerDisplay").html(resCase.currentPlayerName);

        if (++currentPlayerIndex >= ids.length) {
            caseNumber++;
            currentPlayerIndex = 0;
            shuffleArray(ids);
        }
    }

    function getNextCase() {
        $("outcomeList").css("pointer-events", "none");
        $.ajax({
            url: "/backstory",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({ caseNumber: caseNumber, id: ids[currentPlayerIndex] }),
            success: function (result) {
                $("outcomeList").css("pointer-events", "auto");
                displayCase(result);
            },
            error: function () {
                $("outcomeList").css("pointer-events", "auto");
            }
        });
    }

    function applyStats() {

    }

    $("#outcomeList").click(function (event) {
        if ($(event.target).is(".option")) {
            applyStats();
            if (caseNumber <= @numberOfCases) {
                getNextCase();
            }
        }
    });

</script>
