@model PartyBackstoryVM
@{
    ViewData["Title"] = "Backstory";
}

<h1>Backstory</h1>

<p>@Model.Description</p>

<p>Player 1 make a choice</p>

<a asp-controller="Party" asp-action="Spells">
    <ul>
        @foreach (var outcome in Model.Outcomes)
        {
            <li>@outcome</li>
        }
    </ul>
    </a>
