
@{
    ViewData["Title"] = "Create";
}

<h1>Create a party!</h1>

<label>Name</label><br />
<label>Age</label><br />
<label>Gender</label><br />

<a asp-controller="Party" asp-action="Summary">
    <div> Done </div>
</a>
