@model PartyCreateVM

@{
    ViewData["Title"] = "Create";
}

    <div class="backgroundParchment">
        <div class="overlay"></div>
    </div>

    <div class="ViewHeader" id="createHeader">
        <h1  >Create Party Member</h1>
    </div>
<div class="createContainer">

    <br />
    @*<img src="~/img/textures/book2.png"  style="margin-right: 5%; margin-top: 5%; height:18vw; width:18vw"/>*@
    <div class="createForm">
        <form asp-controller="Party" asp-action="Create" method="post" autocomplete="off">
            <label asp-for="Name"></label>
            <input asp-for="Name" value="" />
            <br />
            <br />
            <label asp-for="Age"></label>
            <input asp-for="Age" value="" />
            <br />
            <br />
            <label>Gender:</label>
            <div class="createRadio">

                <input asp-for="Gender" type="radio" value="male" checked="checked" />
                <label>Male</label>
                <br />
                <input asp-for="Gender" type="radio" value="female" />
                <label>Female</label>

            </div>
            <br />
            @*<div id="doneCreateBtn">
                @*<button type="submit">
            Done
        </button>*@
                <input id="doneCreateBtn" type=submit value="Done" />
            @*</div>*@

        </form>
</div>
</div>