
@{
    ViewData["Title"] = "Summary";
}
<div class="ViewHeader" id="summaryHeader">
    <h1>Party Summary</h1>
</div>
<div class="summaryContainer">

    <ul id="partyList">

        <li class="player"><a asp-controller="Game" asp-action="_PlayerDetails">Cedric</a></li>

        <li class="player"><a asp-controller="Game" asp-action="_PlayerDetails">Bronn</a></li>

        <li class="player"><a asp-controller="Game" asp-action="_PlayerDetails">Xarah</a></li>

        <li class="player"><a asp-controller="Game" asp-action="_PlayerDetails">Talasi</a></li>
        
        <li class="player"><a asp-controller="Game" asp-action="_PlayerDetails">Herpa</a></li>
        
        <li class="player"><a asp-controller="Game" asp-action="_PlayerDetails">Derp</a></li>

    </ul>

    <div id="summaryFooter">
        <div id="summaryCreateBtn">
            <a asp-controller="Party" asp-action="Create">
                <input  id="addBtn" type=button value="Add Party Member"  />
            </a>
        </div>

        <div id="summaryContinueBtn">
            <a asp-controller="Party" asp-action="Backstory">
                <input id="continueBtn" type=button  value="Continue"  />
            </a>
        </div>
    </div>
</div>