
@{
    ViewData["Title"] = "Summary";
}

<h1>Summary of your group</h1>

<h1>Player 1 </h1>
<h1>Player 2 </h1>
<h1>Player 3 </h1>


<a asp-controller="Party" asp-action="Create">
    <div> Add Party Member </div>
</a>

<a asp-controller="Party" asp-action="Backstory">
    <div> Done </div>
</a>