
@{
    ViewData["Title"] = "Summary";
}
<div class="ViewHeader" id="summaryHeader">
    <h1>Party Summary</h1>
</div>
<div class="summaryContainer">

    <ul id="partyList">

        <li class="player"><a asp-controller="Game" asp-action="_PlayerDetails">Cedric</a></li>

        <li class="player"><a asp-controller="Game" asp-action="_PlayerDetails">Bronn</a></li>

        <li class="player"><a asp-controller="Game" asp-action="_PlayerDetails">Xarah</a></li>

        <li class="player"><a asp-controller="Game" asp-action="_PlayerDetails">Talasi</a></li>
        
        <li class="player"><a asp-controller="Game" asp-action="_PlayerDetails">Herpa</a></li>
        
        <li class="player"><a asp-controller="Game" asp-action="_PlayerDetails">Derp</a></li>

    </ul>

    <div class="footer" id="summaryFooter">
        <a asp-controller="Party" asp-action="Create">
            <input class="buttons" type=button Text="Button" value="Add Party Member" style="font-size: 24px;" />
        </a>

        <a asp-controller="Party" asp-action="Backstory">
            <input class="buttons" type=button Text="Button" value="Continue" style="font-size: 24px;" />
        </a>
    </div>
</div>